# Core functionality - changes here should be rare!
/src/app.py                   @AKankit47
/src/backend/database.py      @AKankit47
/src/backend/routers/auth.py  @AKankit47

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AKankit47
